[Desktop Entry]
Type=Application
Name=Ntfy Client GUI
Comment=Cross-platform ntfy notification client
Exec=ntfy-client-gui-for-all
Icon=ntfy-client-gui-for-all
Terminal=false
Categories=Network;Utility;
StartupNotify=true
